---
layout: default
---

<div class="background-image">
	<a href="{{ site.baseurl }}/images/quincy-take-pill.jpg" target="_blank"><img src="{{ site.baseurl }}/images/quincy-take-pill.jpg" alt="来，吃药"></a>
</div>
<div class="content-divider">
	<img class="center site-icon" src="{{ site.baseurl }}/favicon-128.png" alt="药丸">
</div>

<h1 class="center site-title">{{ site.title }}</h1>
<p class="center">{{ site.description }}</p>
<p class="center"><a href="{{ site.baseurl }}/whatisit/">这是什么网站？</a></p>

<div class="pill-collection">
	{% for pill in site.pills reversed %}
	<div class="pill-card">
		<a href="{{ site.baseurl }}{{ pill.url }}">{{ pill.thing }} 药丸 💊 {{ pill.title }}</a>
		{{ pill.content }}
	</div>
	{% if forloop.index == 4 %}{% break %}{% endif %}
	{% endfor %}
	<div class="pill-card load-more">
		<div id="load-more-info" class="center"></div>
		<a id="load-more-button" class="center" href="javascript:loadMore()">加载更多</a>
		<noscript><p class="center">请启用 JavaScript 以使用该功能。</p></noscript>
	</div>
</div>

<p class="center">使用 <a href="{{ site.baseurl }}/feed.xml">RSS</a> 获取最新动态（<a href="https://fiveyellowmice.com/posts/2015/09/usage-of-rss.html">怎么用？</a>）</p>
<div class="footer">
	<span>由 <a href="https://fiveyellowmice.com/">FiveYellowMice</a> 制作</span>
	<a href="{{ site.baseurl }}/copyright.txt">其他人作品的版权</a>
</div>

<script>
	function loadMore() {
		var button = document.getElementById("load-more-button");
		var info = document.getElementById("load-more-info");
		var collection = document.getElementsByClassName("pill-collection")[0];
		var moreBox = document.getElementsByClassName("load-more")[0];

		var request = new XMLHttpRequest();
		request.open("GET", "{{ site.baseurl }}/pills.json", true);
		request.onload = function() {
			if (request.status !== 200) {
				showError("加载失败，服务器返回状态码 " + request.status + " 。");
				return;
			}
			try {
				var pillsList = JSON.parse(request.responseText);
			} catch (e) {
				showError("加载失败，无法解析数据。");
				return;
			}
			var newPills = pillsList.slice(collection.children.length - 1, collection.children.length + 1);
			//console.log(JSON.stringify(newPills));
			if (newPills.length === 0) {
				showError("没有更多了。");
				return;
			}

			newPills.forEach(function(pill) {
				var newElement = document.createElement("div");
				newElement.className = "pill-card";
				newElement.innerHTML = "<a href=\"{{ site.baseurl }}" + pill.url + "\">" + pill.thing + " 药丸 💊 " + pill.title + "</a>" + pill.content;
				collection.insertBefore(newElement, moreBox);
			});
		}
		request.onerror = function() {
			showError("加载失败，无法连接。");
		}
		request.send();

		function showError(text) {
			button.style.display = "none";
			info.innerHTML = text;
			info.style.display = "block";

			setTimeout(function() {
				info.style.display = "none";
				button.style.display = "";
			}, 2000);
		}
	}
</script>
