---
---

// Reset
html, body,
p, a, div, img,
h1, h2, h3, h4, h5, h6,
ul, ol, li {
	margin: 0;
	padding: 0;
	border: none;
	
	font-family: Arial, "WenQuanYi Zen Hei", "Microsoft YaHei", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 150%;
}

p {
	margin-top: 16px;
	margin-bottom: 16px;
}

a {
	text-decoration: none;
	color: #2962FF;
	
	&:hover {
		text-decoration: underline;
	}
	
	&:focus {
		outline: none;
	}
	
	&:-moz-focus-inner {
		border: 0;
	}
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.background-image {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	z-index: 1;
	
	img {
		z-index: 1;
		display: block;
		width: 100%;
		margin-top: -35%;
	}
	
	@media (max-width: 800px) {
		height: 200px;
	}
}

.content-divider {
	position: relative;
	z-index: 2;
	width: 100%;
	margin-bottom: 16px;
	height: 64px;
	box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.75);
}

.site-icon {
	display: block;
	position: relative;
	top: -64px;
	-webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.75));
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.75));
}

.site-title {
	font-size: 48px;
	font-weight: bold;
}

.pill-collection {
	max-width: 800px;
	margin: auto;
	
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.pill-card {
	display: block;
	-webkit-flex: 1 0 250px;
	flex: 1 0 250px;
	margin: 10px;
	padding: 5px;
	
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.load-more {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

#load-more-info {
	display: none;
}

.page-title {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
	border-bottom: 3px solid #81D4FA;
}

.page-header {
	width: 100%;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25);
	border-bottom: 3px solid #81D4FA;
	
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	
	h1 {
		display: inline-block;
		font-size: 24px;
		margin: 10px 24px 10px 0;
	}
	
	.pill-icon {
		margin: 24px;
		width: 48px;
		height: 48px;
		
		img {
			width: 48px;
			height: 48px;
		}
	}
}

.page-content {
	max-width: 800px;
	margin: 24px auto;
	padding: 5px;
}

.sources {
	max-width: 800px;
	margin: 24px auto;
	padding: 5px;
	
	h2 {
		font-size: 24px;
	}
	
	ul {
		list-style: none;
	}
	
	li {
		margin-top: 12px;
		margin-bottom: 12px;
	}
}

#disqus_thread {
	margin: auto;
	max-width: 800px;
	padding: 5px;
}

.footer {
	width: 100%;
	text-align: right;
	border-top: 1px solid black;
	padding-top: 2px;
	
	&>* {
		margin: 5px;
	}
}

.pill-buttons {
	padding: 5px;
}
