<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{% if page.thing %}{{ page.thing }} · {% endif %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" href="{{ site.url }}{{ page.url }}">

	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
	<link rel="icon" href="{{ site.baseurl }}/favicon-128.png">
	<meta name="theme-color" content="#F5F5F5">
	
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
